<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui-v2.5.5/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">柳职考试系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">首页</a></li>
<!--            <span class="layui-nav-bar" style="left: 54px; top: 55px; width: 0px; opacity: 0;"></span>-->
            <li class="layui-nav-item"><a href="">考试管理</a></li>
            <li class="layui-nav-item"><a href="">试卷管理</a></li>
            <li class="layui-nav-item"><a href="">用户管理</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    好帅
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">题库</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">Android基础</a></dd>
                        <dd><a href="javascript:;">IOS基础</a></dd>
                        <dd><a href="javascript:;">SpringMVC</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
             
                <li class="layui-nav-item"><a href="">易错题</a></li>
                <li class="layui-nav-item"><a href="">待开发</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="display: none;">
        <!-- 内容主体区域 -->
        
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>跨域--------------------中国图书馆</legend>
        </fieldset>
        
<!--    <iframe src="http://www.chnlib.com/" width="100%" height="100%"></iframe>-->

        <iframe id="content" src="http://www.chnlib.com/" scrolling="no" height="100%" width="100%"></iframe>
  

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © lzzy.net - 毕业设计
    </div>
</div>

    <div id="demo" class="layui-body" style="display: none;">
        <!-- 内容主体区域 -->

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>跨域--------------------中国图书馆</legend>
        </fieldset>

        <!--    <iframe src="http://www.chnlib.com/" width="100%" height="100%"></iframe>-->

        <iframe id="content1" src="http://www.chnlib.com/" scrolling="no" width="100%"></iframe>


        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © lzzy.net - 毕业设计
        </div>
    </div>


<script src="layui-v2.5.5/layui/layui.js"></script>
<script>



// 解析：将你嵌入页面的高度设置成屏幕可视高度减去原框架顶部和底部高度（宽度设置同理）。
    reSerSize();
    window.onresize = reSerSize();
    function  reSerSize() {
        var windowsheight = window.innerHeight;
        document.getElementById("content1").style.height = (windowsheight-150)+"px";
    }

document.getElementById("demo").style.display="";//显示

    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });



</script>


</body>
</html>